@font-face {
  font-family: 'Cabin';
  font-style: normal;
  font-weight: 400;
  src: local('Cabin'), local('Cabin-Regular'), url(https://fonts.gstatic.com/s/cabin/v11/4VMQLG5UaE3m5rr_emmAqaCWcynf_cDxXwCLxiixG1c.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

html,
body {
  font-family: 'Cabin', sans-serif;
  font-weight: 400;
  line-height: 1.55;
}

body {
  padding: 0;
  margin: 0;
  background-color: #f3f0f0;
}

code {
  font-family: Monaco, monospace;
  font-size: .9em;
  background: #aaa8a8;
  padding: 0.1em 0.5em;
  border-radius: 2px;
  border: solid 1px #777;
}

strong {
  font-weight: 600;
}

a {
  color: #3f8fc3;
  text-decoration: none;
}
a:hover,
a:active,
a:focus {
  text-decoration: none;
  border-bottom: 1px solid currentColor;
}

button {
  font-family: inherit;
  font-size: 1rem;
  line-height: 1;
  background-color: #86bfe4;
  border: 1px solid #3f8fc3;
  padding: 0.5em 1em;
  cursor: pointer;
}

button:active,
button:hover,
button:focus {
  color: white;
  background: #3f8fc3;
}

canvas {
  border: solid 2px #aaa8a8;
  background-color: #ffffff;
}

.loading {
  padding: 1em;
  text-align: center;
  background-color: #ffffff;
  border: solid 2px #aaa8a8;
}

.modal {
  background-color: #f3f0f0;
  position: absolute;
  padding: 2em;
  border-radius: 5px;
  border: solid 1px #aaa8a8;
  margin: auto;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.modal h1 {
  margin-top: 0;
}

.modal-inner {
  max-width: 440px;
  height: 430px;
  margin: auto
}
.modal-inner button {
  display: block;
  margin: 5em auto 0;
  width: 7em;
}
.modal-hint {
  text-align: center;
  display: block;
  margin-top: 1.3em;
}

.wrapper {
  display: flex;
  flex-flow: column;
  max-width: calc(600px + 2em);
  height: 100vh;
  margin: auto;
  padding: 2em 1em 0;
}

.wrapper-inner {
  flex-grow: 1;
}

footer {
  height: 3.6em;
}

.note {
  position: fixed;
  top: 5em;
  right: 5em;
  background: #3f8fc3;
  padding: 1em 2em;
  border-radius: 4px;
  color: #ffffff;
  animation: notifyMe 1 4s ease;
}

.note a {
  display: block;
  color: white;
}

@keyframes notifyMe {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
